html {
  /* página rolando suavemente */
  scroll-behavior: smooth;
}

.bgfundo {
  background: url(https://placehold.co/1920x1080) no-repeat center/cover;
  height: 700px;
}

header {
  background-color: #fbf1e5;
}
